@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

h1 {
    text-align: center;
    font-family: Abril Fatface;
}

.newspaper-container {
    width: 700px;
    margin: 3em auto;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 10px;
    background: white;
    box-shadow: 1px 1px 5px #ddd;
  }

  nav {
      display: inline-block;
      font-family: Arial;
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;
      position: sticky;
      top: 0;
      background-color: white;
  }

  body {
    background: #eee;
    font-family: Arial;
    font-weight: 200;
  }

  ul {
    list-style-type: none;
  }

  li {
    display: inline-block;
    padding: 0;
    margin: 0;
  }

  nav a {
    font-size: 0.8em;
    color: #777;
    text-decoration: none;
    padding: .3em;
  }

  h5 {
    color: lightblue;
  }

.more-articles section {
  text-align: center;
  display: inline-block;
  width: 44%;
  padding: .5em;
}



